<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ExamMapper">
    <!-- 根据 题干 查询 答案 -->
    <select id="selectAnswerByQuestion" parameterType="string" resultType="String">
        select answer from [TABLENAME] where question like #{question};
    </select>

</mapper>